<% if flash[:my_errors] %>
<ul>
	<% flash[:my_errors].each do |error| %>
		<li> <%= error %> </li>
	<%end%>
</ul>
<%end %>

<%= form_for @company do |f| %>

<p>Company Details</p>
	<%= f.label :name %>
	<%= f.text_field :name %>

<p>Building Floors Available</p>
	<% Building.all.each do |b| %>
		<%= f.fields_for :offices, b do |b_field| %>
			<%= b_field.hidden_field :id %>
			<%= b_field.label b.name %>
			<%= b_field.collection_check_boxes :offices, b.empty_offices, :floor, :floor %>
			<br>
		<% end %>
	<% end %>
	<br>


	<%= f.submit %>


<% end %>
